### Estuardo J. Díaz García (22008995)
----
# Proyecto fijal. Statistical Learning I.

**Descripción:**

In [17]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt 
from sklearn.cluster import KMeans 
from sklearn.datasets import make_blobs 
%matplotlib inline
from sklearn.cluster import KMeans

In [18]:
"""Cargamos el dataset, este es la base de datos del INE de la sección de Hogares del 
XII Censo Nacional de Población y VII de Vivienda. En esta encuesta se describen las características generales de los hogares
guatemaltecos, tales como el tipo de drenajes que tienen, servicios sanitarios, número de habitaciones, etc"""

hogares_df = pd.read_csv("HOGAR_BDP.csv")
hogares_df.head(20)

,DEPARTAMENTO,MUNICIPIO,COD_MUNICIPIO,ZONA,AREA,NUM_VIVIENDA,NUM_HOGAR,PCH1,PCH2,PCH3,...,PCH10,PCH11,PCH12,PCH13,PCH14,PCH15,PEI1,PEI2,PEI2_E,TOTAL_PERS
0,1,101,1,1,1,1,1,1,2,3,...,2,2,2,1,1,2,2,,,2
1,1,101,1,1,1,2,1,1,9,3,...,1,7,5,1,1,2,2,,,12
2,1,101,1,1,1,3,1,3,,3,...,2,5,5,1,1,2,2,,,4
3,1,101,1,1,1,4,1,3,,3,...,2,5,5,1,1,2,2,,,2
4,1,101,1,1,1,5,1,3,,1,...,2,1,1,1,1,2,2,,,1
5,1,101,1,1,1,6,1,3,,3,...,2,3,3,2,1,2,2,,,5
6,1,101,1,1,1,7,1,3,,3,...,2,1,1,1,1,2,2,,,3
7,1,101,1,1,1,8,1,1,9,3,...,2,11,3,1,1,2,2,,,5
8,1,101,1,1,1,9,1,5,,3,...,1,8,8,1,1,2,2,,,2
9,1,101,1,1,1,10,1,3,,1,...,2,2,1,1,1,2,2,,,2
10,1,101,1,1,1,11,1,3,,3,...,2,5,5,1,1,2,2,,,5
11,1,101,1,1,1,12,1,1,9,3,...,2,5,5,2,1,2,2,,,12
12,1,101,1,1,1,13,1,1,1,3,...,1,6,6,1,1,2,2,,,3
13,1,101,1,1,1,14,1,1,3,9,...,1,5,5,2,1,2,2,,,5
14,1,101,1,1,1,15,1,1,9,1,...,2,2,2,1,1,2,2,,,3
15,1,101,1,1,1,16,1,1,1,3,...,2,8,4,1,3,1,2,,,4
16,1,101,1,1,1,17,1,3,,3,...,1,2,2,1,3,2,2,,,6
17,1,101,1,1,1,18,1,3,,1,...,1,2,1,1,3,2,2,,,2
18,1,101,1,1,1,19,1,3,,2,...,1,3,1,1,3,2,2,,,1
19,1,101,1,1,1,20,1,1,1,3,...,2,5,1,1,3,2,2,,,2

### Exploramos los datos

In [19]:
hogares_df.shape #Vemos que el la base de datos tiene 38 columnas y 3,275,931 de filas

(3275931, 38)

In [20]:
hogares_df.isna().sum()
#Observamos que ninguna variable parece tener NA

DEPARTAMENTO     0
MUNICIPIO        0
COD_MUNICIPIO    0
ZONA             0
AREA             0
NUM_VIVIENDA     0
NUM_HOGAR        0
PCH1             0
PCH2             0
PCH3             0
PCH4             0
PCH5             0
PCH6             0
PCH7             0
PCH8             0
PCH9_A           0
PCH9_B           0
PCH9_C           0
PCH9_D           0
PCH9_E           0
PCH9_F           0
PCH9_G           0
PCH9_H           0
PCH9_I           0
PCH9_J           0
PCH9_K           0
PCH9_L           0
PCH9_M           0
PCH10            0
PCH11            0
PCH12            0
PCH13            0
PCH14            0
PCH15            0
PEI1             0
PEI2             0
PEI2_E           0
TOTAL_PERS       0
dtype: int64

In [21]:
hogares_df.dtypes 
#El dataset tiene 2 variables almacenadas como objetos, esto generará problemas con el algoritmo porque una de ellas es variable
#de interés (PCH6), pero esto lo abordaremos más adelante

DEPARTAMENTO      int64
MUNICIPIO         int64
COD_MUNICIPIO     int64
ZONA              int64
AREA              int64
NUM_VIVIENDA      int64
NUM_HOGAR         int64
PCH1              int64
PCH2             object
PCH3              int64
PCH4              int64
PCH5              int64
PCH6             object
PCH7              int64
PCH8              int64
PCH9_A            int64
PCH9_B            int64
PCH9_C            int64
PCH9_D            int64
PCH9_E            int64
PCH9_F            int64
PCH9_G            int64
PCH9_H            int64
PCH9_I            int64
PCH9_J            int64
PCH9_K            int64
PCH9_L            int64
PCH9_M            int64
PCH10             int64
PCH11             int64
PCH12             int64
PCH13             int64
PCH14             int64
PCH15             int64
PEI1              int64
PEI2             object
PEI2_E           object
TOTAL_PERS        int64
dtype: object

### Preprocesando los datos

In [22]:
hogares_df2 = hogares_df #pero antes de pasar las variables a números, hacemos una copia del dataset por seguridad
hogares_df2.columns.values

array(['DEPARTAMENTO', 'MUNICIPIO', 'COD_MUNICIPIO', 'ZONA', 'AREA',
       'NUM_VIVIENDA', 'NUM_HOGAR', 'PCH1', 'PCH2', 'PCH3', 'PCH4',
       'PCH5', 'PCH6', 'PCH7', 'PCH8', 'PCH9_A', 'PCH9_B', 'PCH9_C',
       'PCH9_D', 'PCH9_E', 'PCH9_F', 'PCH9_G', 'PCH9_H', 'PCH9_I',
       'PCH9_J', 'PCH9_K', 'PCH9_L', 'PCH9_M', 'PCH10', 'PCH11', 'PCH12',
       'PCH13', 'PCH14', 'PCH15', 'PEI1', 'PEI2', 'PEI2_E', 'TOTAL_PERS'],
      dtype=object)

In [23]:
#Vamos a crear un dataframe con las columnas que nos interesan
hogares_var_interes = hogares_df2[["PCH1","PCH4","PCH5","PCH6","PCH7","PCH8","PCH9_A","PCH9_B","PCH9_C","PCH9_D",
                                "PCH9_E","PCH9_F","PCH9_G","PCH9_H","PCH9_I","PCH9_K","PCH9_L","PCH9_M","PCH10",
                               "PCH11","PCH12","PCH13","PCH14"]]
hogares_var_interes

,PCH1,PCH4,PCH5,PCH6,PCH7,PCH8,PCH9_A,PCH9_B,PCH9_C,PCH9_D,...,PCH9_H,PCH9_I,PCH9_K,PCH9_L,PCH9_M,PCH10,PCH11,PCH12,PCH13,PCH14
0,1,1,1,1,1,1,1,1,1,1,...,1,1,1,2,1,2,2,2,1,1
1,1,1,1,1,1,1,1,1,1,1,...,1,1,2,2,2,1,7,5,1,1
2,3,1,1,2,1,1,1,1,1,1,...,1,1,1,2,1,2,5,5,1,1
3,3,1,1,1,1,1,1,1,1,1,...,1,1,1,2,1,2,5,5,1,1
4,3,1,1,1,1,1,1,1,1,2,...,2,2,2,2,1,2,1,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3275926,6,2,2,2,2,1,2,1,1,1,...,2,2,2,2,2,3,3,1,1,1
3275927,1,2,2,1,2,1,1,1,1,2,...,2,2,2,2,2,3,1,1,1,1
3275928,1,1,2,1,2,1,1,1,1,1,...,2,2,2,2,1,3,4,3,1,1
3275929,1,2,5,,2,1,1,1,1,1,...,2,2,2,1,2,6,2,1,2,2
3275930,6,2,5,,2,1,2,1,1,1,...,2,2,2,2,2,3,2,1,2,2

In [24]:
hogares_var_interes.dtypes
#Vemos que la variable PCH6 está almacenada como un objeto, por lo que la debemos pasar a número, como fue mencionado antes

PCH1       int64
PCH4       int64
PCH5       int64
PCH6      object
PCH7       int64
PCH8       int64
PCH9_A     int64
PCH9_B     int64
PCH9_C     int64
PCH9_D     int64
PCH9_E     int64
PCH9_F     int64
PCH9_G     int64
PCH9_H     int64
PCH9_I     int64
PCH9_K     int64
PCH9_L     int64
PCH9_M     int64
PCH10      int64
PCH11      int64
PCH12      int64
PCH13      int64
PCH14      int64
dtype: object

In [25]:
hogares_var_interes = hogares_var_interes.apply(pd.to_numeric,errors='coerce')
#pasamos las variables a números, esta función automáticamente asigna int o float
#Observamos que PCH6 ahora es un número float
hogares_var_interes.dtypes

PCH1        int64
PCH4        int64
PCH5        int64
PCH6      float64
PCH7        int64
PCH8        int64
PCH9_A      int64
PCH9_B      int64
PCH9_C      int64
PCH9_D      int64
PCH9_E      int64
PCH9_F      int64
PCH9_G      int64
PCH9_H      int64
PCH9_I      int64
PCH9_K      int64
PCH9_L      int64
PCH9_M      int64
PCH10       int64
PCH11       int64
PCH12       int64
PCH13       int64
PCH14       int64
dtype: object

In [26]:
hogares_var_interes.isna().sum()
#Ahora vemos que pasar a número nos generó el problema de que ahora hay 156,927 valores nulos en la variable PCH6
#Vamos a proceder a sustituir los NA por ceros (0)

PCH1           0
PCH4           0
PCH5           0
PCH6      156927
PCH7           0
PCH8           0
PCH9_A         0
PCH9_B         0
PCH9_C         0
PCH9_D         0
PCH9_E         0
PCH9_F         0
PCH9_G         0
PCH9_H         0
PCH9_I         0
PCH9_K         0
PCH9_L         0
PCH9_M         0
PCH10          0
PCH11          0
PCH12          0
PCH13          0
PCH14          0
dtype: int64

In [28]:
#La variable PCH6 sí la debemos tratar porque es muy importante para nuestro modelo, ya que es la que indica si el servicio
#sanitario en los hogares es privado o compartido
hogares_var_interes["PCH6"].value_counts()

1.0    2772127
2.0     346877
Name: PCH6, dtype: int64

In [29]:
hogares_var_interes=hogares_var_interes.fillna(0) #sustituimos los NA por ceros (0)
hogares_var_interes["PCH6"].value_counts() #Listo

1.0    2772127
2.0     346877
0.0     156927
Name: PCH6, dtype: int64

In [35]:
determinantes_x = hogares_var_interes.to_numpy()
print(hogares_var_interes.shape)
print(determinantes_x.shape)

(3275931, 23)
(3275931, 23)

In [38]:
inercia = []
for i in range (1,20):
    nivel_socieconomico = KMeans(n_clusters = i, init = "k-means++", max_iter = 300, n_init = 10)
    nivel_socieconomico.fit(determinantes_x)
    inercia.append(nivel_socieconomico.inertia_)
    
plt.figure(figsize=[10,6])
plt.title("Codo")
plt.xlabel("# de clústers")
plt.ylabel("Inercia")
plt.plot(list(range(1,20)), inercia, marker="o")
plt.show()

KeyboardInterrupt:

In [73]:

k_means_hogares = KMeans(init = "k-means++", n_clusters = 9, n_init = 12)
k_means_hogares.fit(determinantes_x) #entrenamos el modelo con los datos anteriormente generados
labels = k_means.labels_
print(labels)

NameError: name 'k_means' is not defined

In [ ]:
k_means_labels = k_means.labels_
k_means_labels